@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;
@{
    ViewData["Title"] = "Мнения";
}
@model SiteReviewViewModel
<!-- Page Title -->
<div class="page-title page-title-lg bg-dark dark">
    <div class="bg-image bg-parallax"><img src="~/img/photos/bg-croissant.jpg" alt=""></div>
    <div class="row">
        <div class="col-lg-4 push-lg-4 text-center">
            <h3 class="mb-2">Мнения</h3>
            <h4 class="text-muted mb-0">Вижте какво смятат нашите клиенти за нас.</h4>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="page-content pt-0 pull-up-30 protrude">
    <div class="container">
        <div class="row mb-5">
            <div class="col-xl-8 push-xl-2">

                @foreach (var review in Model.Reviews)
                {

                    if (review.Rating > 2)
                    {
                        <!-- Blockquote -->
                        <blockquote class="blockquote blockquote-lg light" data-center-top="filter: blur(0); transform: scale(1);" data-bottom-top="transform: scale(0.9);">
                            <div class="blockquote-content">
                                <div class="rate rate-sm mb-3">
                                    @for (int i = 1; i <= review.Rating; i++)
                                    {
                                        <i class="fa fa-star active"></i>
                                    }
                                    @for (int i = (review.Rating + 1); i <= 5; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                </div>
                                @if (review.Author == this.User.Identity.Name)
                                {
                                        <a asp-controller="Reviews" asp-action="DeleteReview" asp-route-id="@review.Id" class="close"><i class="ti-close"></i></a>
                                }

                                <p style="font-size:16px">@review.Content</p>
                            </div>
                            <footer>
                                <span class="name">@review.Author<span class="text-muted">, @review.ModifiedOn.ToString()</span></span>
                            </footer>
                        </blockquote>
                    }
                    else
                    {
                        <!-- Blockquote -->
                        <blockquote class="blockquote blockquote-lg" data-center-top="filter: blur(0); transform: scale(1);" data-bottom-top="transform: scale(0.9);">
                            <div class="blockquote-content dark">
                                <div class="rate rate-sm mb-3">
                                    @for (int i = 1; i <= review.Rating; i++)
                                    {
                                        <i class="fa fa-star active"></i>
                                    }
                                    @for (int i = (review.Rating + 1); i <= 5; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                </div>
                                @if (review.Author == this.User.Identity.Name)
                                {
                                    <a asp-controller="Reviews" asp-action="DeleteReview" asp-route-id="@review.Id" class="close"><i class="ti-close"></i></a>
                                }
                                <p style="font-size:16px">@review.Content</p>
                            </div>
                            <footer>
                                <span class="name">@review.Author<span class="text-muted">, @review.ModifiedOn.ToString()</span></span>
                            </footer>
                        </blockquote>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="mt-3 d-flex justify-content-around">
    @Html.PagedListPager((IPagedList)Model.Reviews, page => Url.Action("All",
                                            new
                                                {
                                                    PageNumber = page,
                                                   PageSize = Model.PageSize,
                                            }),
                                            new PagedListRenderOptions
                                            {
                                                MaximumPageNumbersToDisplay = 5,
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                            })
</div>

<!-- Section -->
<section class="section section-lg dark bg-dark">
    <div class="bg-image bg-parallax"><img src="~/img/photos/bg-review.jpg" alt=""></div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 push-lg-2">
                <h3 class="mb-3">Желаете ли да оставите мнение за нас?</h3>
                <h4 class="text-muted">Не се притеснявайте да го направите!</h4>
                <button class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#reviewModal"><span>Оставете мнение</span></button>
            </div>
        </div>
    </div>
</section>
<partial name="~/Views/Shared/Partials/Reviews/_ReviewBox.cshtml" model="Model.InnerModel" />
@section scripts{
    <script src="~/js/site.js"></script>
    <partial name="~/Views/Shared/Partials/_ValidationScriptsPartial.cshtml" />
}