
@{
    ViewData["Title"] = "Меню";
}

@model MenuViewModel
<!-- Page Title -->
<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <h3 class="mb-0">Меню</h3>
                <h4 class="text-muted mb-0">Изберете от богатия набор ястия, която нашата кухня предлага.</h4>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-3">
                <!-- Menu Navigation -->
                <nav id="menu-navigation" class="stick-to-content" data-local-scroll>
                    <ul class="nav nav-menu bg-dark dark">
                        @foreach (var category in Model.Categories)
                        {
                            <li><a href="#@category.Name">@category.Name</a></li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                @foreach (var category in Model.Categories)
                {
                    <!-- Menu Category  -->
                    <div id="@category.Name" class="menu-category">
                        <div class="menu-category-title">
                            <div class="bg-image"><img src="@category.Image" alt=""></div>
                            <h2 class="title">@category.Name</h2>
                        </div>
                        <div class="menu-category-content padded">
                            <div class="row gutters-sm">

                                @foreach (var product in category.Products)
                                {
                                    <div class="col-lg-4 col-6">
                                        <!-- Menu Item -->
                                        <div class="menu-item menu-grid-item">
                                            <a asp-controller="Menu" asp-action="Details" asp-route-id="@product.Id"><img class="mb-4" src="@product.Image" alt=""></a>
                                            <h6 class="mb-0">@product.Name</h6>
                                            <div class="row align-items-center mt-4">
                                                <div class="col-sm-6"><span class="text-md mr-4"><span class="text-muted">от</span> @product.Price лв.</span></div>
                                                <div class="col-sm-6 text-sm-right mt-2 mt-sm-0"><button class="btn btn-outline-secondary btn-sm" data-target="#productModal" data-toggle="modal"><span>Добави</span></button></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>