@model OrderViewModel
@{
    ViewData["Title"] = "Детайли за поръчката";
    var productsTotal = Model.OrderProducts.Sum(x => x.Price) + Model.OrderAddons.Sum(x => x.Price);
}
<!-- Page Title -->
<div class="page-title bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 push-lg-4">
                <h3 class="mb-0">Детайли за поръчката</h3>
            </div>
        </div>
    </div>
</div>
<div class="h3 font-italic text-center">Детайли на поръчката</div>
<div class="container">
    <div class="row">
        <div class="col-xl-4 push-xl-8 col-lg-5 push-lg-7">
            <div class="shadow bg-white mb-4">
                <div class="bg-dark dark p-4"><h5 class="mb-0">Продукти</h5></div>
                <table class="table-cart">
                    @foreach (var product in Model.OrderProducts)
                    {
                        <tr>
                            <td class="actions">
                                @product.Quantity бр.
                            </td>
                            <td class="title">
                                <span class="name"><a asp-controller="Menu" asp-action="Details" asp-route-id="@product.Id">@product.Name</a></span>
                            </td>
                            <td class="price">@product.Price лв.</td>
                        </tr>
                    }
                    @foreach (var addon in Model.OrderAddons)
                    {
                        <tr>
                            <td class="actions">
                                @addon.Quantity бр.
                            </td>
                            <td class="title">
                                <span class="name">@addon.Name</span>
                            </td>
                            <td class="price">@addon.Price</td>
                        </tr>
                    }
                </table>
                <div class="cart-summary">
                    <div class="row">
                        <div class="col-7 text-right text-muted">Общо продукти:</div>
                        <div class="col-5"><strong>@productsTotal</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-7 text-right text-muted">Доставка:</div>
                        <div class="col-5"><strong>@Model.DeliveryPrice лв</strong></div>
                    </div>
                    <hr class="hr-sm">
                    <div class="row text-lg">
                        <div class="col-7 text-right text-muted"> Общо:</div>
                        <div class="col-5"><strong>@Model.TotalPrice</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 pull-xl-4 col-lg-7 pull-lg-5">
            <div class="bg-white p-4 p-md-5 mb-4">
                <h4 class="border-bottom pb-4"><i class="ti ti-user mr-3 text-primary"></i>Информация за поръчката</h4>
                <div class="row mb-5">
                    <p class="col-sm-12"><strong>Номер на поръчката: </strong> @Model.OrderNumber</p>
                    <p class="col-sm-12"><strong>Получател: </strong> @Model.CustomerFullName</p>
                    <p class="col-sm-12"><strong>Телефонен номер: </strong> @Model.PhoneNumber</p>
                    <p class="col-sm-12"><strong>Адрес: </strong> @Model.DeliveryAddress</p>
                    <p class="col-sm-12"><strong>Статус: </strong>@Model.Status</p>
                </div>
            </div>
        </div>
    </div>
</div>