@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

    <ul class="nav nav-pills nav-fill mb-3 flex-column" role="tablist">
        <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./Index">Profile</a></li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a id="change-password" asp-page="./ChangePassword">Password</a></li>
        @if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
        }
        <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./PersonalData">Personal data</a></li>
    </ul>