@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<!-- Side Navigation -->
    <nav id="side-navigation" class="stick-to-content pt-4">
        <h5 class="mb-3"><i class="ti ti-align-justify mr-3 text-muted"></i>Изберете настройка:</h5>
        <ul class="nav nav-vertical" role="tablist">
            <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./Index">Профил</a></li>
            <li class="@ManageNavPages.MyOrdersNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./MyOrders">Моите поръчки</a></li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a id="change-password" asp-page="./ChangePassword">Парола</a></li>
            @if (hasExternalLogins)
            {
                <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a id="external-login" asp-page="./ExternalLogins">Външен вход</a></li>
            }
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item  nav-link font-weight-bold"><a asp-page="./PersonalData">Лични данни</a></li>
            <li class="nav-item nav-link font-weight-bold"><a asp-area="Identity" asp-page="/Account/Logout">Изход</a></li>
        </ul>
    </nav>